body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.fieldWithErrors label {
  padding: 5px;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Make The Views Stylish */

#asset_list { 
	width: 100%; 
	border-left: 1px solid #EEE; 
	border-bottom: 1px solid #EEE; 
	border-collapse: collapse;
}

#asset_list th { 
  background-color: #EEE; 
  padding: 5px; 
  border-right: 1px solid #EEE; 
}

#asset_list td { 
  padding: 5px;
  border-top: 1px solid #EEE;
  border-right: 1px solid #EEE;
  text-align: center;
}

#asset_list .even { 
  background-color: #F5F9FA;
}

#no_assets_message {
  padding: 10px 0;
}

#asset_nav {
  border-bottom: 1px solid #EEE;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#asset_nav_footer {
  border-top: 1px solid #EEE;
  margin-top: 5px;
  padding-top: 5px;
}

#status_message {
  margin-top: 10px;
  display: none;
}

ul#global_toolbar {
  margin: 0;
  padding: 0;
}

#global_toolbar li {
  display: block;
  float: left;
  margin: 0 5px 0 0;
}

#global_toolbar li a, #global_toolbar li a:visited {
  padding: 10px;
  background-color: #EEE;
  border: 1px solid #DDD;
  text-decoration: none;
  display: block;
}

#global_toolbar .am_toolbar_button {
  background-color: #EEE;
  border: 1px solid #DDD;
  text-decoration: none;
  padding: 10px;
}

#global_toolbar li a:hover, #global_toolbar li a:active {
  padding: 10px;
  background-color: #000;
  border: 1px solid #DDD;
  text-decoration: none;
  display: block;
}

.batch_display_item {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.asset_reset {
  clear: both;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Wrapper for fields and buttons, <p> tags aren't valid... bad rails */
.fw {
  padding-bottom: 8px;
}

.bw {
}

.replacement_tokens {
  padding: 0 20px;
  float: right;
}

.clearfix {clear: both;}

fieldset {
  border: 1px solid #EEE;
  padding: 10px;
}

fieldset.batch_item {
  width: 275px;
}

.pagination {
  padding: 8px 0;
}

fieldset label {
  display: block;
  font-weight: bold;
}

.actions {
  white-space: nowrap;
}