<h1>Batch Edit Videos</h1>

<%- form_for(@videos, :url => update_batch_videos_path(@videos)) do |f| -%>
  <%= render :partial => "videos/batch_video", :collection => @videos %>
  <div class="asset_reset"></div>
  <div class="bw"><%= f.submit 'Update All' %> - or - <%= link_to 'Cancel', videos_path %></div>
<%- end -%>