<h1>New Video</h1>

<% form_for(@video, :html => { :multipart => true }) do |f| %>
	<fieldset>
		<%= render :partial => 'form', :locals => { :f => f } %>
		<div>
    		<%= f.submit 'Create' %>
  		</div>
	</fieldset>
<% end %>

<%= link_to 'Back', videos_path %>