<h1>Listing Crop Definitions</h1>
<div id="asset_nav"><%= link_to 'New Crop Definition', new_crop_definition_path %></div>

<%- if @crop_definitions.length > 0 -%>
<table id="asset_list">
  <tr>
    <th>Asset category</th>
    <th>Name</th>
    <th>Minimum width</th>
    <th>Minimum height</th>
    <th>Options</th>
  </tr>
  <%= render @crop_definitions %>
</table>
<div id="asset_nav_footer">
  <%= link_to 'New Crop Definition', new_crop_definition_path %>
</div>
<%- else -%>
<div id="no_assets_message">
  There are currently no crop definitions to display.
</div>
<%- end -%>