<h1>Listing crops</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Crop definition</th>
    <th>x1</th>
    <th>x2</th>
    <th>y1</th>
    <th>y2</th>
    <th>Width</th>
    <th>Height</th>
  </tr>
  <%= render @crops %>
</table>

<br />

<%= link_to 'New crop', [:new, @image, :crop] %>