<div class="replacement_tokens">
  <h2>Replacement Tokens</h2>
  <p>The following tokens are used to replace values in the<br />
    Conversion Command. This makes sure that important values<br />
    are always correct in your conversions</p>
  <p>
    <strong>%%FFMPEG%%</strong> - Path to the ffmpeg binary.
  </p>
  <p>
    <strong>%%INPUTFILE%%</strong> - The original video file.
  </p>
  <p>
    <strong>%%WIDTH%%</strong> - Width of the original video.
  </p>
  <p>
    <strong>%%HEIGHT%%</strong> - Height of the original video.
  </p>
</div>