<h1>Show Asset Category</h1>
<div id="asset_nav">
  <%= link_to 'Edit', edit_asset_category_path(@asset_category) %> |
  <%= link_to 'Back', asset_categories_path %>
</div>
<p>
  <strong>Name:</strong> <%=h @asset_category.name %>
</p>