<ul id="global_toolbar">
  <li class="am_toolbar_button"><strong>- Asset Manager -</strong></li>
  <li><%= link_to "Audio", audios_path %></li>
  <li><%= link_to "Images", images_path %></li>
  <li><%= link_to "Videos", videos_path %></li>
  <li><%= link_to "Video Formats", video_formats_path %></li>
</ul>
<hr class="asset_reset" />